USE [FASHION_RENTAL]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 07/01/2026 12:29:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[NameCustomer] [varchar](30) NOT NULL,
	[SurnameCustomer] [varchar](40) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[City] [varchar](30) NOT NULL,
	[JoinDate] [date] NOT NULL,
	[LoyaltyPoints] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DAMAGE_REPORT]    Script Date: 07/01/2026 12:29:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAMAGE_REPORT](
	[ReportID] [int] IDENTITY(1,1) NOT NULL,
	[RentalID] [int] NOT NULL,
	[ReportDate] [date] NOT NULL,
	[DamageType] [varchar](40) NOT NULL,
	[RepairCostEstimate] [smallmoney] NOT NULL,
	[FinalRepairCost] [smallmoney] NULL,
	[PenaltyCharged] [smallmoney] NULL,
	[ResolvedDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DESIGNER]    Script Date: 07/01/2026 12:29:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DESIGNER](
	[DesignerID] [tinyint] IDENTITY(1,1) NOT NULL,
	[NameDesigner] [varchar](30) NOT NULL,
	[Country] [varchar](30) NOT NULL,
	[StartYear] [char](4) NOT NULL,
	[SustainabilityScore] [decimal](3, 1) NULL,
PRIMARY KEY CLUSTERED 
(
	[DesignerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GARMENT]    Script Date: 07/01/2026 12:29:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GARMENT](
	[GarmentID] [int] IDENTITY(1,1) NOT NULL,
	[NameGarment] [varchar](50) NOT NULL,
	[Category] [varchar](50) NOT NULL,
	[SizeLabel] [varchar](2) NOT NULL,
	[OriginalPrice] [smallmoney] NOT NULL,
	[DailyRentalPrice] [smallmoney] NOT NULL,
	[DepositAmount] [smallmoney] NOT NULL,
	[WeightGrams] [smallint] NOT NULL,
	[PurchaseDate] [date] NOT NULL,
	[StatusGarment] [varchar](11) NOT NULL,
	[DesignerID] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GarmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GARMENT_LOCATION]    Script Date: 07/01/2026 12:29:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GARMENT_LOCATION](
	[GarmentID] [int] NOT NULL,
	[WarehouseID] [tinyint] NOT NULL,
	[LocationGarment] [char](4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GarmentID] ASC,
	[WarehouseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENT]    Script Date: 07/01/2026 12:29:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT](
	[RentalID] [int] NOT NULL,
	[PaymentDate] [date] NOT NULL,
	[Method] [varchar](8) NOT NULL,
	[Amount] [smallmoney] NULL,
	[TaxPerc] [tinyint] NOT NULL,
 CONSTRAINT [PK__PAYMENT__97005963F4521DDF] PRIMARY KEY CLUSTERED 
(
	[RentalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RENTAL]    Script Date: 07/01/2026 12:29:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RENTAL](
	[RentalID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[GarmentID] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[ExpectedDate] [date] NOT NULL,
	[ActualReturnDate] [date] NULL,
	[RentalDays] [tinyint] NULL,
	[TotalToPay] [smallmoney] NOT NULL,
	[LateFeeAmount] [smallmoney] NOT NULL,
	[RentalStatus] [varchar](8) NULL,
 CONSTRAINT [PK__RENTAL__97005963FB6BE550] PRIMARY KEY CLUSTERED 
(
	[RentalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WAREHOUSE]    Script Date: 07/01/2026 12:29:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WAREHOUSE](
	[WarehouseID] [tinyint] IDENTITY(1,1) NOT NULL,
	[NameWarehouse] [varchar](30) NOT NULL,
	[City] [varchar](20) NOT NULL,
	[CapacityUnits] [smallint] NOT NULL,
	[MonthlyRentCost] [smallmoney] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WarehouseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CUSTOMER] ON 

INSERT [dbo].[CUSTOMER] ([CustomerID], [NameCustomer], [SurnameCustomer], [Email], [City], [JoinDate], [LoyaltyPoints]) VALUES (1, N'John', N'Smith', N'john.smith@gmail.com', N'London', CAST(N'2025-06-05' AS Date), 20)
INSERT [dbo].[CUSTOMER] ([CustomerID], [NameCustomer], [SurnameCustomer], [Email], [City], [JoinDate], [LoyaltyPoints]) VALUES (2, N'Maria', N'García', N'maria.garcia@gmail.com', N'Madrid', CAST(N'2025-06-18' AS Date), 10)
INSERT [dbo].[CUSTOMER] ([CustomerID], [NameCustomer], [SurnameCustomer], [Email], [City], [JoinDate], [LoyaltyPoints]) VALUES (3, N'James', N'Brown', N'james.brown@gmail.com', N'Manchester', CAST(N'2025-06-30' AS Date), 10)
SET IDENTITY_INSERT [dbo].[CUSTOMER] OFF
GO
SET IDENTITY_INSERT [dbo].[DAMAGE_REPORT] ON 

INSERT [dbo].[DAMAGE_REPORT] ([ReportID], [RentalID], [ReportDate], [DamageType], [RepairCostEstimate], [FinalRepairCost], [PenaltyCharged], [ResolvedDate]) VALUES (5, 3, CAST(N'2025-07-06' AS Date), N'Stain', 25.0000, 20.0000, 40.0000, CAST(N'2025-07-10' AS Date))
INSERT [dbo].[DAMAGE_REPORT] ([ReportID], [RentalID], [ReportDate], [DamageType], [RepairCostEstimate], [FinalRepairCost], [PenaltyCharged], [ResolvedDate]) VALUES (6, 4, CAST(N'2025-07-06' AS Date), N'Minor Tear', 40.0000, 45.0000, 64.0000, CAST(N'2025-07-07' AS Date))
INSERT [dbo].[DAMAGE_REPORT] ([ReportID], [RentalID], [ReportDate], [DamageType], [RepairCostEstimate], [FinalRepairCost], [PenaltyCharged], [ResolvedDate]) VALUES (7, 15, CAST(N'2025-12-06' AS Date), N'Makeup Stain', 30.0000, 25.0000, 48.0000, CAST(N'2026-12-07' AS Date))
SET IDENTITY_INSERT [dbo].[DAMAGE_REPORT] OFF
GO
SET IDENTITY_INSERT [dbo].[DESIGNER] ON 

INSERT [dbo].[DESIGNER] ([DesignerID], [NameDesigner], [Country], [StartYear], [SustainabilityScore]) VALUES (1, N'Stella McCartney', N'United Kingdom', N'2001', CAST(9.2 AS Decimal(3, 1)))
INSERT [dbo].[DESIGNER] ([DesignerID], [NameDesigner], [Country], [StartYear], [SustainabilityScore]) VALUES (2, N'Vivienne Westwood', N'United Kingdom', N'1971', CAST(8.7 AS Decimal(3, 1)))
INSERT [dbo].[DESIGNER] ([DesignerID], [NameDesigner], [Country], [StartYear], [SustainabilityScore]) VALUES (3, N'Patagonia', N'United States', N'1973', CAST(9.5 AS Decimal(3, 1)))
SET IDENTITY_INSERT [dbo].[DESIGNER] OFF
GO
SET IDENTITY_INSERT [dbo].[GARMENT] ON 

INSERT [dbo].[GARMENT] ([GarmentID], [NameGarment], [Category], [SizeLabel], [OriginalPrice], [DailyRentalPrice], [DepositAmount], [WeightGrams], [PurchaseDate], [StatusGarment], [DesignerID]) VALUES (1, N'Elegant Summer Dress', N'Dress', N'S', 180.0000, 18.0000, 60.0000, 450, CAST(N'2023-01-15' AS Date), N'Available', 1)
INSERT [dbo].[GARMENT] ([GarmentID], [NameGarment], [Category], [SizeLabel], [OriginalPrice], [DailyRentalPrice], [DepositAmount], [WeightGrams], [PurchaseDate], [StatusGarment], [DesignerID]) VALUES (2, N'Classic Black Dress', N'Dress', N'M', 220.0000, 22.0000, 70.0000, 500, CAST(N'2023-02-10' AS Date), N'Available', 2)
INSERT [dbo].[GARMENT] ([GarmentID], [NameGarment], [Category], [SizeLabel], [OriginalPrice], [DailyRentalPrice], [DepositAmount], [WeightGrams], [PurchaseDate], [StatusGarment], [DesignerID]) VALUES (3, N'Floral Evening Dress', N'Dress', N'L', 260.0000, 26.0000, 80.0000, 520, CAST(N'2023-03-05' AS Date), N'Available', 3)
SET IDENTITY_INSERT [dbo].[GARMENT] OFF
GO
INSERT [dbo].[GARMENT_LOCATION] ([GarmentID], [WarehouseID], [LocationGarment]) VALUES (1, 1, N'A-01')
INSERT [dbo].[GARMENT_LOCATION] ([GarmentID], [WarehouseID], [LocationGarment]) VALUES (2, 1, N'B-03')
INSERT [dbo].[GARMENT_LOCATION] ([GarmentID], [WarehouseID], [LocationGarment]) VALUES (3, 1, N'C-05')
GO
INSERT [dbo].[PAYMENT] ([RentalID], [PaymentDate], [Method], [Amount], [TaxPerc]) VALUES (3, CAST(N'2025-07-06' AS Date), N'Card', 135.5200, 21)
INSERT [dbo].[PAYMENT] ([RentalID], [PaymentDate], [Method], [Amount], [TaxPerc]) VALUES (4, CAST(N'2025-07-06' AS Date), N'Card', 160.9300, 21)
INSERT [dbo].[PAYMENT] ([RentalID], [PaymentDate], [Method], [Amount], [TaxPerc]) VALUES (5, CAST(N'2025-07-11' AS Date), N'Cash', 186.3400, 21)
GO
SET IDENTITY_INSERT [dbo].[RENTAL] ON 

INSERT [dbo].[RENTAL] ([RentalID], [CustomerID], [GarmentID], [StartDate], [ExpectedDate], [ActualReturnDate], [RentalDays], [TotalToPay], [LateFeeAmount], [RentalStatus]) VALUES (3, 1, 6, CAST(N'2025-07-03' AS Date), CAST(N'2025-07-07' AS Date), CAST(N'2025-07-06' AS Date), 3, 112.0000, 0.0000, N'Returned')
INSERT [dbo].[RENTAL] ([RentalID], [CustomerID], [GarmentID], [StartDate], [ExpectedDate], [ActualReturnDate], [RentalDays], [TotalToPay], [LateFeeAmount], [RentalStatus]) VALUES (4, 1, 24, CAST(N'2025-07-03' AS Date), CAST(N'2025-07-07' AS Date), CAST(N'2025-07-06' AS Date), 3, 133.0000, 0.0000, N'Returned')
INSERT [dbo].[RENTAL] ([RentalID], [CustomerID], [GarmentID], [StartDate], [ExpectedDate], [ActualReturnDate], [RentalDays], [TotalToPay], [LateFeeAmount], [RentalStatus]) VALUES (5, 2, 2, CAST(N'2025-07-05' AS Date), CAST(N'2025-07-09' AS Date), CAST(N'2025-07-11' AS Date), 6, 88.0000, 66.0000, N'Returned')
SET IDENTITY_INSERT [dbo].[RENTAL] OFF
GO
SET IDENTITY_INSERT [dbo].[WAREHOUSE] ON 

INSERT [dbo].[WAREHOUSE] ([WarehouseID], [NameWarehouse], [City], [CapacityUnits], [MonthlyRentCost]) VALUES (1, N'Alicante Central Warehouse', N'Alicante', 800, 1200.0000)
INSERT [dbo].[WAREHOUSE] ([WarehouseID], [NameWarehouse], [City], [CapacityUnits], [MonthlyRentCost]) VALUES (2, N'Elche Distribution Warehouse', N'Elche', 600, 850.0000)
SET IDENTITY_INSERT [dbo].[WAREHOUSE] OFF
GO
ALTER TABLE [dbo].[CUSTOMER] ADD  DEFAULT ((0)) FOR [LoyaltyPoints]
GO
ALTER TABLE [dbo].[RENTAL] ADD  CONSTRAINT [DF_RENTAL_TotalToPay]  DEFAULT ((0)) FOR [TotalToPay]
GO
ALTER TABLE [dbo].[RENTAL] ADD  CONSTRAINT [DF__RENTAL__LateFeeA__5AEE82B9]  DEFAULT ((0)) FOR [LateFeeAmount]
GO
ALTER TABLE [dbo].[DAMAGE_REPORT]  WITH CHECK ADD  CONSTRAINT [FK__DAMAGE_RE__Renta__6477ECF3] FOREIGN KEY([RentalID])
REFERENCES [dbo].[RENTAL] ([RentalID])
GO
ALTER TABLE [dbo].[DAMAGE_REPORT] CHECK CONSTRAINT [FK__DAMAGE_RE__Renta__6477ECF3]
GO
ALTER TABLE [dbo].[GARMENT]  WITH CHECK ADD FOREIGN KEY([DesignerID])
REFERENCES [dbo].[DESIGNER] ([DesignerID])
GO
ALTER TABLE [dbo].[GARMENT_LOCATION]  WITH CHECK ADD FOREIGN KEY([GarmentID])
REFERENCES [dbo].[GARMENT] ([GarmentID])
GO
ALTER TABLE [dbo].[GARMENT_LOCATION]  WITH CHECK ADD FOREIGN KEY([WarehouseID])
REFERENCES [dbo].[WAREHOUSE] ([WarehouseID])
GO
ALTER TABLE [dbo].[PAYMENT]  WITH CHECK ADD  CONSTRAINT [FK__PAYMENT__RentalI__60A75C0F] FOREIGN KEY([RentalID])
REFERENCES [dbo].[RENTAL] ([RentalID])
GO
ALTER TABLE [dbo].[PAYMENT] CHECK CONSTRAINT [FK__PAYMENT__RentalI__60A75C0F]
GO
ALTER TABLE [dbo].[RENTAL]  WITH CHECK ADD  CONSTRAINT [FK__RENTAL__Customer__5CD6CB2B] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[CUSTOMER] ([CustomerID])
GO
ALTER TABLE [dbo].[RENTAL] CHECK CONSTRAINT [FK__RENTAL__Customer__5CD6CB2B]
GO
ALTER TABLE [dbo].[RENTAL]  WITH CHECK ADD  CONSTRAINT [FK__RENTAL__GarmentI__5BE2A6F2] FOREIGN KEY([GarmentID])
REFERENCES [dbo].[GARMENT] ([GarmentID])
GO
ALTER TABLE [dbo].[RENTAL] CHECK CONSTRAINT [FK__RENTAL__GarmentI__5BE2A6F2]
GO
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD CHECK  (([Email] like '_%@_%._%'))
GO
ALTER TABLE [dbo].[GARMENT]  WITH CHECK ADD CHECK  (([SizeLabel]='XL' OR [SizeLabel]='L' OR [SizeLabel]='M' OR [SizeLabel]='S' OR [SizeLabel]='XS'))
GO
ALTER TABLE [dbo].[GARMENT]  WITH CHECK ADD CHECK  (([StatusGarment]='Retired' OR [StatusGarment]='Maintenance' OR [StatusGarment]='Rented' OR [StatusGarment]='Available'))
GO
ALTER TABLE [dbo].[GARMENT_LOCATION]  WITH CHECK ADD CHECK  (([LocationGarment] like '[A-Z]-[0-9][0-9]'))
GO
ALTER TABLE [dbo].[PAYMENT]  WITH CHECK ADD  CONSTRAINT [CK__PAYMENT__Method__619B8048] CHECK  (([Method]='Card' OR [Method]='Transfer' OR [Method]='Cash'))
GO
ALTER TABLE [dbo].[PAYMENT] CHECK CONSTRAINT [CK__PAYMENT__Method__619B8048]
GO
ALTER TABLE [dbo].[RENTAL]  WITH CHECK ADD  CONSTRAINT [CK__RENTAL__RentalSt__5DCAEF64] CHECK  (([RentalStatus]='Cancelled' OR [RentalStatus]='Returned' OR [RentalStatus]='Active'))
GO
ALTER TABLE [dbo].[RENTAL] CHECK CONSTRAINT [CK__RENTAL__RentalSt__5DCAEF64]
GO
